@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

p, li {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW09 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}




.globalVariableExample,
.globalVariableExample p:nth-child(2),
.globalVariableExample p:nth-child(4),
.ifXExample,
.ifWindowXExample,
.methodsOfWindowObjectExample,
.methodsOfWindowObjectExample p:nth-child(2),
.methodsOfNumberObject,
.methodsOfNumberObject p:nth-child(2),
.windowAlertMethodExample,
.windowConfirmMethodExample,
.windowPromptMethodExample,
.windowNavigatorObjectExample,
.windowLocationHrefProperty,
.readWritePropertyExample,
.windowHistoryGoMethodExample,
.windowScreenHeightAndWidthProperties,
.windowScreenHeightAndWidthProperties p:nth-child(2),
.creatingCookiesExample,
.assigningCookiesExample,
.assigningCookiesExample p:nth-child(2),
.changingCookieValues,
.readingCookies,
.secureCookies,
.cumbersomeCookies,
.windowSetTimeoutMethod,
.windowSetIntervalMethod,
.idUsed,
.UpdatedgameStartMethod,
.dataAttributeNamesExample,
.storingInfoExample,
.localStorageNameExample,
.localStorageNameExample p:nth-child(1),
.addEventListenerStorageEvent,
.yourAreHereFunctionExample,
.postMessageMethodExample,
.addEventListenerMessageEvent,
.terminateMethodExample,
.notificationApiDefinition,
.audioTagExample,
.videoTagExample,
.playMethodExample,
.pauseMethodExample,
.volumePropertyExample,
.mutedPropertyExample,
.currentTimePropertyExample,
.playbackPropertyExample,
.loopPropertyExample,
.durationPropertyExample,
.addEventListenerLoadedMetadata,
.addEventListenerPause,
.updatedheader2 {
    padding-bottom: 30px;
}

.browserInfo,
.windowLocationMethods,
.windowHistoryPropertyDefinition,
.windowScreenObjectDefinition,
.cookiesDefinition,
.cumbersomeCookies,
.quizNinjaPt14,
.storingInfoExample,
.clearMethodDefinition,
.clearMethod,
.savedHeroObjectAsJsonString,
.geolocationApiDefinition,
.clearWatchMethodDefinition,
.webWorkerApiDefinition,
.websocketsDefinition,
.notificationApiDefinition,
.propertiesAndMethodsOfAudioVideoElements,
.canvasElementDefinition,
.updatedTearDownMethod {
    padding-top: 30px;
}

.chapter14,
.week9Exercises {
    padding-top: 50px;
}

.updatedHeader p:nth-child(2),
.updatedHeader p:nth-child(3),
.updatedHeader p:nth-child(4),
.countdownMethod p:nth-child(2),
.countdownMethod p:nth-child(3),
.countdownMethod p:nth-child(4),
.countdownMethod p:nth-child(6),
.updatedGameOverFunction p:nth-child(2),
.updatedGameOverFunction p:nth-child(3),
.updatedGameOverFunction p:nth-child(4),
.dataAtrributeExample p:nth-child(2),
.yourAreHereFunctionExample p:nth-child(2),
.addEventListenerMessageEvent p:nth-child(2),
.updatedheader2 p:nth-child(2),
.updatedheader2 p:nth-child(9),
.updatedheader2 p:nth-child(10),
.updatedheader2 p:nth-child(11),
.updatedheader2 p:nth-child(12),
.updatedheader2 p:nth-child(13),
.updatedheader2 p:nth-child(14),
.hiScoreMethod p:nth-child(8),
.updatedSetupMethod2,
.updatedTearDownMethod2 {
    padding-left: 5px;
}

.countdownMethod p:nth-child(5),
.updatedheader2 p:nth-child(3),
.updatedheader2 p:nth-child(8),
.hiScoreMethod p:nth-child(2),
.hiScoreMethod p:nth-child(3),
.hiScoreMethod p:nth-child(6),
.hiScoreMethod p:nth-child(7) {
    padding-left: 15px;
}

.updatedheader2 p:nth-child(4),
.updatedheader2 p:nth-child(5),
.updatedheader2 p:nth-child(6),
.updatedheader2 p:nth-child(7),
.hiScoreMethod p:nth-child(4),
.hiScoreMethod p:nth-child(5) {
    padding-left: 30px;
}

main > div > p, .weekExercises > li > div > p, .updatedSetupMethod2 > p, .updatedTearDownMethod2 > p, .windowHisLeng, .windowHisGo, .windowHisForwBack, .windowSetTimeoutMethod, .windowSetIntervalMethod, .windowRequestAnimationFrame, .localStorageSetItem, .localStorageRemoveItem, .localStorageGetItem, .navGeoLocation3, .postMessageMethodExample, .selfPostMessage, .constVideo, .addEventListenerLoadedMetadata {
    font-size: 10px;
}

.hiScoreMethod p:nth-child(2), .hiScoreMethod p:nth-child(4), .hiScoreMethod p:nth-child(7), .countdownMethod p:nth-child(2), .countdownMethod p:nth-child(3), .countdownMethod p:nth-child(4)  {
    font-size: 9px;
}

.navGeoLocation {
    font-size: 8.5px;
}

.navGeoLocation2 {
    font-size: 8px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
    main > div > p, .weekExercises > li > div > p, .updatedSetupMethod2 > p, .updatedTearDownMethod2 > p, .windowHisLeng, .windowHisGo, .windowHisForwBack, .windowSetTimeoutMethod, .windowSetIntervalMethod, .windowRequestAnimationFrame, .localStorageSetItem, .localStorageRemoveItem, .localStorageGetItem, .navGeoLocation3, .postMessageMethodExample, .selfPostMessage, .constVideo, .addEventListenerLoadedMetadata {
        font-size: 18px;
    }
    
    .hiScoreMethod p:nth-child(2), .hiScoreMethod p:nth-child(4), .hiScoreMethod p:nth-child(7), .countdownMethod p:nth-child(2), .countdownMethod p:nth-child(3), .countdownMethod p:nth-child(4)  {
        font-size: 18px;
    }
    
    .navGeoLocation {
        font-size: 18px;
    }
    
    .navGeoLocation2 {
        font-size: 18px;
    }
}