.squareFunctionExample p:nth-child(2),
.sayHelloFunctionExample p:nth-child(2),
.updatedSayHelloFunctionExample p:nth-child(2),
.temporaryVariableExample P:nth-child(4),
.temporaryVariableExample P:nth-child(5),
.temporaryVariableExample P:nth-child(6),
.initializationCodeExample p:nth-child(2),
.initializationCodeExample p:nth-child(3),
.initializationCodeExample p:nth-child(4),
.initializationCodeExample p:nth-child(5),
.placingCodeInsideaBlockExample p:nth-child(2),
.placingCodeInsideaBlockExample p:nth-child(3),
.placingCodeInsideaBlockExample p:nth-child(4),
.placingCodeInsideaBlockExample p:nth-child(5),
.iifeWithStrictModeExample p:nth-child(2),
.self-containedCodeBlocksExample p:nth-child(2),
.self-containedCodeBlocksExample p:nth-child(3),
.self-containedCodeBlocksExample p:nth-child(4),
.self-containedCodeBlocksExample p:nth-child(5),
.self-containedCodeBlocksExample p:nth-child(6),
.self-containedCodeBlocksExample p:nth-child(7),
.self-containedCodeBlocksExample p:nth-child(8),
.self-containedCodeBlocksExample p:nth-child(9),
.self-containedCodeBlocksExample p:nth-child(12),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(2),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(3),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(5),
.functionPartyExample p:nth-child(2),
.recursiveFunctionExample p:nth-child(2),
.recursiveFunctionExample p:nth-child(4),
.recursiveFunctionExample p:nth-child(6),
.promiseExample p:nth-child(2),
.promiseExample p:nth-child(3),
.promiseExample p:nth-child(5),
.promiseExample p:nth-child(7),
.diceObjectExample p:nth-child(2),
.diceObjectExample p:nth-child(3),
.diceObjectExample p:nth-child(5),
.promiseWithDiceRollMethod p:nth-child(2),
.promiseWithDiceRollMethod p:nth-child(3),
.promiseWithDiceRollMethod p:nth-child(5),
.closureExample p:nth-child(2),
.closureExample p:nth-child(3),
.closureExample p:nth-child(7),
.closureExample p:nth-child(8),
.closureExample p:nth-child(9),
.randomFunction p:nth-child(2),
.randomFunction p:nth-child(3),
.randomFunction p:nth-child(5),
.randomFunction p:nth-child(6),
.shuffleFunction p:nth-child(2),
.shuffleFunction p:nth-child(5),
.askMethod,
.fetchApi p:nth-child(5),
.fetchApi p:nth-child(6),
.responseInterfaceExample p:nth-child(4),
.responseInterfaceExample p:nth-child(6),
.responseInterfaceExample p:nth-child(7),
.createdResponseObjectExample {
    padding-left: 30px;
}

.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(4),
.recursiveFunctionExample p:nth-child(3),
.recursiveFunctionExample p:nth-child(5),
.promiseExample p:nth-child(4),
.promiseExample p:nth-child(6),
.diceObjectExample p:nth-child(4),
.promiseWithDiceRollMethod p:nth-child(4),
.closureExample p:nth-child(4),
.closureExample p:nth-child(5),
.closureExample p:nth-child(6),
.randomFunction p:nth-child(4),
.shuffleFunction p:nth-child(3),
.shuffleFunction p:nth-child(4),
.responseInterfaceExample p:nth-child(5) {
    padding-left: 60px;
}

.thenAndCatchedMethods p:nth-child(2) {
    padding-left: 90px;
}

.callAndApplyMethodsDefinition,
.iifeDefinition,
.initializationCodeDefinition,
.strictModeAndIife,
.self-containedCodeBlocks,
.self-DefiningAndSelf-RewritingFunctions,
.recursiveFunctionDefinition,
.callbackDefinition,
.higher-orderFunctionsDefinition,
.closureDefinition,
.generatorDefinition,
.functionalProgrammingDefinition,
.pureFunctionDefinition,
.curryingDefinition,
.chapter13,
.week7Exercises,
.responseInterfaceDefinition,
.requestInterfaceDefinition,
.headersInterface,
.getAndPostRequests,
.formDataInterface {
    margin-top: 50px;
}

.usingCallMethodExample p:nth-child(3),
.usingCallMethodExample p:nth-child(5),
.updatedSayHelloFunctionExample p:nth-child(4),
.updatedSayHelloFunctionExample p:nth-child(6),
.temporaryVariableExample p:nth-child(3),
.temporaryVariableExample p:nth-child(8),
.temporaryVariableExample p:nth-child(10),
.temporaryVariableExample p:nth-child(12),
.functionCalledAfterTheFirstTimeExample p:nth-child(3),
.functionCalledAfterTheFirstTimeExample p:nth-child(5),
.promiseExampleDefinition,
.shuffleFunctionDefinition,
.fetchApi p:nth-child(2),
.responseInterfaceExample p:nth-child(2),
.creatingResponseObjectDefinition {
    margin-top: 30px;
}

.week7Exercises {
    list-style-type: none;
}