@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, li {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW07 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}



.squareFunctionExample p:nth-child(2),
.sayHelloFunctionExample p:nth-child(2),
.updatedSayHelloFunctionExample p:nth-child(2),
.temporaryVariableExample P:nth-child(4),
.temporaryVariableExample P:nth-child(5),
.temporaryVariableExample P:nth-child(6),
.initializationCodeExample p:nth-child(2),
.initializationCodeExample p:nth-child(3),
.initializationCodeExample p:nth-child(4),
.initializationCodeExample p:nth-child(5),
.placingCodeInsideaBlockExample p:nth-child(2),
.placingCodeInsideaBlockExample p:nth-child(3),
.placingCodeInsideaBlockExample p:nth-child(4),
.placingCodeInsideaBlockExample p:nth-child(5),
.iifeWithStrictModeExample p:nth-child(2),
.self-containedCodeBlocksExample p:nth-child(2),
.self-containedCodeBlocksExample p:nth-child(3),
.self-containedCodeBlocksExample p:nth-child(4),
.self-containedCodeBlocksExample p:nth-child(5),
.self-containedCodeBlocksExample p:nth-child(6),
.self-containedCodeBlocksExample p:nth-child(7),
.self-containedCodeBlocksExample p:nth-child(8),
.self-containedCodeBlocksExample p:nth-child(9),
.self-containedCodeBlocksExample p:nth-child(12),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(2),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(3),
.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(5),
.functionPartyExample p:nth-child(2),
.recursiveFunctionExample p:nth-child(2),
.recursiveFunctionExample p:nth-child(4),
.recursiveFunctionExample p:nth-child(6),
.promiseExample p:nth-child(2),
.promiseExample p:nth-child(3),
.promiseExample p:nth-child(5),
.promiseExample p:nth-child(7),
.diceObjectExample p:nth-child(2),
.diceObjectExample p:nth-child(3),
.diceObjectExample p:nth-child(5),
.promiseWithDiceRollMethod p:nth-child(2),
.promiseWithDiceRollMethod p:nth-child(3),
.promiseWithDiceRollMethod p:nth-child(5),
.closureExample p:nth-child(2),
.closureExample p:nth-child(3),
.closureExample p:nth-child(7),
.closureExample p:nth-child(8),
.closureExample p:nth-child(9),
.randomFunction p:nth-child(2),
.randomFunction p:nth-child(3),
.randomFunction p:nth-child(5),
.randomFunction p:nth-child(6),
.shuffleFunction p:nth-child(2),
.shuffleFunction p:nth-child(5),
.askMethod,
.fetchApi p:nth-child(5),
.fetchApi p:nth-child(6),
.responseInterfaceExample p:nth-child(4),
.responseInterfaceExample p:nth-child(6),
.responseInterfaceExample p:nth-child(7),
.createdResponseObjectExample {
    padding-left: 5px;
}

.self-DefiningAndSelf-RewritingFunctionsExample p:nth-child(4),
.recursiveFunctionExample p:nth-child(3),
.recursiveFunctionExample p:nth-child(5),
.promiseExample p:nth-child(4),
.promiseExample p:nth-child(6),
.diceObjectExample p:nth-child(4),
.promiseWithDiceRollMethod p:nth-child(4),
.closureExample p:nth-child(4),
.closureExample p:nth-child(5),
.closureExample p:nth-child(6),
.randomFunction p:nth-child(4),
.shuffleFunction p:nth-child(3),
.shuffleFunction p:nth-child(4),
.responseInterfaceExample p:nth-child(5) {
    padding-left: 15px;
}

.thenAndCatchedMethods p:nth-child(2) {
    padding-left: 30px;
}

.callAndApplyMethodsDefinition,
.iifeDefinition,
.initializationCodeDefinition,
.strictModeAndIife,
.self-containedCodeBlocks,
.self-DefiningAndSelf-RewritingFunctions,
.recursiveFunctionDefinition,
.callbackDefinition,
.higher-orderFunctionsDefinition,
.closureDefinition,
.generatorDefinition,
.functionalProgrammingDefinition,
.pureFunctionDefinition,
.curryingDefinition,
.chapter13,
.week7Exercises,
.responseInterfaceDefinition,
.requestInterfaceDefinition,
.headersInterface,
.getAndPostRequests,
.formDataInterface {
    margin-top: 50px;
}

.usingCallMethodExample p:nth-child(3),
.usingCallMethodExample p:nth-child(5),
.updatedSayHelloFunctionExample p:nth-child(4),
.updatedSayHelloFunctionExample p:nth-child(6),
.temporaryVariableExample p:nth-child(3),
.temporaryVariableExample p:nth-child(8),
.temporaryVariableExample p:nth-child(10),
.temporaryVariableExample p:nth-child(12),
.functionCalledAfterTheFirstTimeExample p:nth-child(3),
.functionCalledAfterTheFirstTimeExample p:nth-child(5),
.promiseExampleDefinition,
.shuffleFunctionDefinition,
.fetchApi p:nth-child(2),
.responseInterfaceExample p:nth-child(2),
.creatingResponseObjectDefinition {
    margin-top: 30px;
}

main > div > p, .createdResponseObjectExample > p, .weekExercises > li > div > p, .askMethod > p {
    font-size: 10px;
}

.initializationCodeExample p:nth-child(3), .placingCodeInsideaBlockExample p:nth-child(3), .fetchApi p:nth-child(1), .askMethod p:nth-child(9), .jsonFormat {
    font-size: 9px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
    main > div > p, .createdResponseObjectExample > p, .weekExercises > li > div > p, .askMethod > p {
        font-size: 18px;
    }

    .initializationCodeExample p:nth-child(3), .placingCodeInsideaBlockExample p:nth-child(3), .fetchApi p:nth-child(1), .askMethod p:nth-child(9), .jsonFormat {
        font-size: 18px;
    }
}
