@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, li {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW04 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}




.inputElementExamples {
  border-collapse: collapse;
  width: fit-content;
}

.inputElementExamples td,
.inputElementExamples th {
  font-family: 'EB Garamond', 'Times New Roman', serif;
  font-size: 14px;
  border: 1px solid #655353;
  padding: 4px;
  color: #655353;
}

.inputElementExamples tr:nth-child(even) {
  background-color: #f2f2f2;
}

.inputElementExamples th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.otherInputTypes {
  margin: 15px 0 50px 0;
}

.week4Exercises {
  list-style: none;
  margin: 50px 0 0 0;
}

.submitEventExample,
.formELementInQuiz {
  margin: 0 0 50px 0;
}

.submitEventExample p:nth-child(4),
.formELementInQuiz p:nth-child(2),
.formELementInQuiz p:nth-child(3),
.updatedGameStartMethodInQuiz p:nth-child(2),
.updatedGameStartMethodInQuiz p:nth-child(3),
.updatedGameStartMethodInQuiz p:nth-child(4),
.updatedGameAskMethodInQuiz p:nth-child(2),
.updatedGameAskMethodInQuiz p:nth-child(6),
.updatedGameAskMethodInQuiz p:nth-child(7),
.updatedGameAskMethodInQuiz p:nth-child(9),
.updatedGameCheckMethodInQuiz p:nth-child(2),
.updatedGameCheckMethodInQuiz p:nth-child(3),
.updatedGameCheckMethodInQuiz p:nth-child(4),
.updatedGameCheckMethodInQuiz p:nth-child(5),
.updatedGameCheckMethodInQuiz p:nth-child(9),
.updatedGameCheckMethodInQuiz p:nth-child(11),
.updatedGameCheckMethodInQuiz p:nth-child(12),
.resetFormMethodInQuiz p:nth-child(2),
.resetFormMethodInQuiz p:nth-child(3),
.callToResetFormMethodInQuiz p:nth-child(2),
.callToResetFormMethodInQuiz p:nth-child(3),
.callToResetFormMethodInQuiz p:nth-child(4),
.callToResetFormMethodInQuiz p:nth-child(5),
.callToResetFormMethodInQuiz p:nth-child(9),
.callToResetFormMethodInQuiz p:nth-child(11),
.callToResetFormMethodInQuiz p:nth-child(12),
.callToResetFormMethodInQuiz p:nth-child(13),
.constructionFunctionExample p:nth-child(2),
.constructionFunctionExample p:nth-child(3),
.constructionFunctionExample p:nth-child(5),
.classDeclarationExample p:nth-child(2),
.classDeclarationExample p:nth-child(4),
.classDeclarationExample p:nth-child(5),
.classDeclarationExample p:nth-child(7),
.classExample p:nth-child(2),
.classExample p:nth-child(5),
.classExample p:nth-child(6),
.classExample p:nth-child(8),
.classExample p:nth-child(9),
.classExample p:nth-child(11),
.removingMethodsInQuiz p:nth-child(2),
.removingMethodsInQuiz p:nth-child(3),
.updatedAskFunctionInQuiz,
.buttonsArray p:nth-child(2),
.ModifiedGameCheckMethodInQuiz,
.quizObjectInQuiz,
.packageJson p:nth-child(2),
.packageJson p:nth-child(3),
.packageJson p:nth-child(4),
.packageJson p:nth-child(5),
.packageJson p:nth-child(6),
.packageJson p:nth-child(8),
.packageJson p:nth-child(9),
.packageJson p:nth-child(13),
.packageJson p:nth-child(14),
.packageJson p:nth-child(15),
.utilitiesJs p:nth-child(3),
.utilitiesJs p:nth-child(5),
.utilitiesJs p:nth-child(6),
.utilitiesJs p:nth-child(9),
.utilitiesJs p:nth-child(12),
.utilitiesJs p:nth-child(15),
.utilitiesJs p:nth-child(16),
.constViewPt1,
.curlyBracketsAndComma,
.showElement p:nth-child(1),
.showElement p:nth-child(3),
.hideElement p:nth-child(1),
.hideElement p:nth-child(3),
.setup,
.curlyBracketsAndComma2,
.tearDown,
.curlyBracketsAndComma3,
.btnArray p:nth-child(1),
.btnArray p:nth-child(3),
.startQuiz,
.curlyBracketsAndComma4,
.countdown p:nth-child(1),
.countdown p:nth-child(7),
.askName,
.curlyBracketsAndComma5,
.checkEvent,
.curlyBracketsAndComma6,
.gameOverQuiz,
.curlyBracketsAndComma7,
.hiScoreQuiz,
.curlyBracketsAndComma8,
.viewGame,
.importModules p:nth-child(6),
.importModules p:nth-child(7) {
  padding-left: 5px;
}

.chapter12, .ch12Exercise, .chapter15, .usingJQuery, .ch15Exercise {
  margin: 50px 0 0 0;
}

.updatedGameAskMethodInQuiz p:nth-child(3),
.updatedGameAskMethodInQuiz p:nth-child(4),
.updatedGameAskMethodInQuiz p:nth-child(5),
.updatedGameAskMethodInQuiz p:nth-child(8),
.updatedGameCheckMethodInQuiz p:nth-child(6),
.updatedGameCheckMethodInQuiz p:nth-child(7),
.updatedGameCheckMethodInQuiz p:nth-child(8),
.updatedGameCheckMethodInQuiz p:nth-child(10),
.callToResetFormMethodInQuiz p:nth-child(6),
.callToResetFormMethodInQuiz p:nth-child(7),
.callToResetFormMethodInQuiz p:nth-child(8),
.callToResetFormMethodInQuiz p:nth-child(10),
.constructionFunctionExample p:nth-child(4),
.classDeclarationExample p:nth-child(3),
.classDeclarationExample p:nth-child(6),
.classExample p:nth-child(3),
.classExample p:nth-child(4),
.classExample p:nth-child(7),
.classExample p:nth-child(10),
.packageJson p:nth-child(7),
.packageJson p:nth-child(10),
.packageJson p:nth-child(11),
.packageJson p:nth-child(12),
.utilitiesJs p:nth-child(4),
.utilitiesJs p:nth-child(10),
.utilitiesJs p:nth-child(11),
.forConst p:nth-child(1),
.forConst p:nth-child(3),
.targetInnerHtml,
.showElement p:nth-child(2),
.hideElement p:nth-child(2),
.thisShowHideRender,
.thisHideShowRender,
.btnArray p:nth-child(2),
.consoleLogStart,
.countdown p:nth-child(2),
.countdown p:nth-child(3),
.countdown p:nth-child(4),
.countdown p:nth-child(6),
.consoleLogCheckEvent,
.consoleLogGameOver,
.constHi {
  padding-left: 15px;
}

.consoleLogAsk {
  padding-left: 5px;
}

.setupMethodInQuiz, .callToViewSetupMethod, .tearDownMethodInQuiz, .callToTearDownMethod {
  margin: 0 0 0 5px;
}

.number6, .booleanTrue, .number20, .number13, .raphSayHiMethod, .mvcClarification li {
  margin: 0 0 5px 0;
}

.sayHiMethod, .raphSayHiMethod, .raphWeapon, .raphAttackMethod {
  margin: 5px 0 0 0;
}

.forConst p:nth-child(2),
.countdown p:nth-child(5) {
  padding-left: 30px;
}

.submitEventExample > p, .constructionFunctionExample > p, .redDiceRollMethod, .classDeclarationExample > p, .blueDiceSides, .blueDiceRollMethod, .classExample > p, .constLeo, .sayHiMethod, .turtle.Prototype, .turtlePrototypeWeapon, .turtlePrototypeAttack, .constRaph, .raphSayHiMethod, .raphWeapon, .raphAttackMethod, .paraClassList, .constNewPara, .newParaTextContent, .paraAppendChild, .formELementInQuiz > p, .querySelectorResponse, .updatedGameStartMethodInQuiz > p, .updatedGameAskMethodInQuiz > p, .updatedGameCheckMethodInQuiz > p, .setupMethodInQuiz > p, .resetFormMethodInQuiz > p, .callToResetFormMethodInQuiz > p, .callToViewSetupMethod > p, .tearDownMethodInQuiz > p, .callToTearDownMethod > p, .removingMethodsInQuiz > p, .updatedAskFunctionInQuiz > p, .buttonsArray > p, .viewResponseAddEventListener, .ModifiedGameCheckMethodInQuiz > p, .eventPreventDefault, .quizObjectInQuiz > p, .packageJson > p, .scriptSrc, .utilitiesJs > p, .constViewPt1 > p, .forConst > p, .targetInnerHtml, .showElement > p, .hideElement > p, .thisShowHideRender > p, .thisHideShowRender > p, .btnArray > p, .startQuiz, .consoleLogStart > p, .countdown > p, .consoleLogAsk > p, .checkEvent, .consoleLogCheckEvent > p, .gameOverQuiz, .consoleLogGameOver > p, .hiScoreQuiz, .constHi > p, .viewGame > p, .importModules > p, .viewResponse1, .viewResponseAnswerValue {
  font-size: 10px;
}

.consoleLogAsk p:nth-child(9), .updatedAskFunctionInQuiz p:nth-child(9), .countdown p:nth-child(3), .usingJQueryLibrary {
  font-size: 9px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
  .submitEventExample > p, .constructionFunctionExample > p, .redDiceRollMethod, .classDeclarationExample > p, .blueDiceSides, .blueDiceRollMethod, .classExample > p, .constLeo, .sayHiMethod, .turtle.Prototype, .turtlePrototypeWeapon, .turtlePrototypeAttack, .constRaph, .raphSayHiMethod, .raphWeapon, .raphAttackMethod, .paraClassList, .constNewPara, .newParaTextContent, .paraAppendChild, .formELementInQuiz > p, .querySelectorResponse, .updatedGameStartMethodInQuiz > p, .updatedGameAskMethodInQuiz > p, .updatedGameCheckMethodInQuiz > p, .setupMethodInQuiz > p, .resetFormMethodInQuiz > p, .callToResetFormMethodInQuiz > p, .callToViewSetupMethod > p, .tearDownMethodInQuiz > p, .callToTearDownMethod > p, .removingMethodsInQuiz > p, .updatedAskFunctionInQuiz > p, .buttonsArray > p, .viewResponseAddEventListener, .ModifiedGameCheckMethodInQuiz > p, .eventPreventDefault, .quizObjectInQuiz > p, .packageJson > p, .scriptSrc, .utilitiesJs > p, .constViewPt1 > p, .forConst > p, .targetInnerHtml, .showElement > p, .hideElement > p, .thisShowHideRender > p, .thisHideShowRender > p, .btnArray > p, .startQuiz, .consoleLogStart > p, .countdown > p, .consoleLogAsk > p, .checkEvent, .consoleLogCheckEvent > p, .gameOverQuiz, .consoleLogGameOver > p, .hiScoreQuiz, .constHi > p, .viewGame > p, .importModules > p, .viewResponse1, .viewResponseAnswerValue {
    font-size: 18px;
  }

  .consoleLogAsk p:nth-child(9), .updatedAskFunctionInQuiz p:nth-child(9), .countdown p:nth-child(3), .usingJQueryLibrary {
    font-size: 18px;
  }

  .inputElementExamples td,
  .inputElementExamples th {
    font-size: 18px;
    padding: 8px;
  }
}
