@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

p, li {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW08 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}




img {
    display: block;
    max-width: 100%;
    height: auto;
}

.translateXYFunctionExample,
.transformVendorPrefix,
.translateXFunctionExample,
.translateYFunctionExample,
.scaleMethodExample1,
.scaleMethodExample2,
.multipleTransformationsExample,
.rotateMethodExample,
.skewXAndSkewY,
.transition-propertyExample,
.transition-durationPropertyExample,
.transition-timing-functionPropertyValues,
.transition-delayExample,
.transitionPropertyExample,
.animation-namePropertyExample,
.animation-durationMoreInfo,
.animation-timing-functionExample,
.animation-iteration-countExample,
.animation-directionPropertyValues,
.animation-delayExample,
.animation-fill-modePropertyValues,
.getContextMethodExample,
.definingFillColorExample,
.image2,
.image4,
.raphaëlLibraryDefinition {
    padding-bottom: 30px; 
}

.scaleMethodExample2 p:nth-child(2),
.rotateMethodExample p:nth-child(2),
.multiplePropertyTransitionExample p:nth-child(2),
.keyFramesRuleExample p:nth-child(2),
.keyFramesRuleExample p:nth-child(5),
.moveRightAnimationCode,
.appearDisappearAnimationCode,
.bgMoveAnimationCode,
.canvasExample1 p:nth-child(2),
.cssBorderForCanvas p:nth-child(2),
.cssBorderForCanvas p:nth-child(3),
.addingImageExample p:nth-child(3),
.drawImageToCanvasFunctionExample p:nth-child(2),
.drawImageToCanvasFunctionExample p:nth-child(3),
.drawImageToCanvasFunctionExample p:nth-child(4),
.circleInSvgExample p:nth-child(2),
.drawGradientFunctionCode,
.svgCodeExample1 p:nth-child(2),
.svgCodeExample2 p:nth-child(2) {
    padding-left: 5px;
}

.svgCodeExample2 p:nth-child(3) {
    padding-left: 15px;
}

.svgCodeExample2 p:nth-child(4) {
    padding-left: 30px;
}

.chapter12,
.week8Exercises,
.svgDefinition {
    padding-top: 50px;
}

main > div > p, .translateXYFunctionExample, .translateXFunctionExample, .translateYFunctionExample, .scaleMethodExample1, .multipleTransformationsExample, .transformSkew, .transition-propertyExample, .transition-durationPropertyExample, .transTimeFuncEaseOut, .webkitTransitionDelay, .transition-delayExample, .transitionPropertyExample, .moveRightAnimationCode > p, .appearDisappearAnimationCode > p, .bgMoveAnimationCode > p, .animation-namePropertyExample, .animationDuration, .transTimeFuncProperty, .animation-timing-functionExample, .animation-iteration-countExample, .animation-delayExample, .animationPlayState, .myCanvas, .getContextMethodExample, .loadDrarImageToCanvas, .nextStep, .weekExercises > li > div > p {
    font-size: 10px;
}

.addingImageExample p:nth-child(5) {
    font-size: 9px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
    main > div > p, .translateXYFunctionExample, .translateXFunctionExample, .translateYFunctionExample, .scaleMethodExample1, .multipleTransformationsExample, .transformSkew, .transition-propertyExample, .transition-durationPropertyExample, .transTimeFuncEaseOut, .webkitTransitionDelay, .transition-delayExample, .transitionPropertyExample, .moveRightAnimationCode > p, .appearDisappearAnimationCode > p, .bgMoveAnimationCode > p, .animation-namePropertyExample, .animationDuration, .transTimeFuncProperty, .animation-timing-functionExample, .animation-iteration-countExample, .animation-delayExample, .animationPlayState, .myCanvas, .getContextMethodExample, .loadDrarImageToCanvas, .nextStep, .weekExercises > li > div > p {
        font-size: 18px;
    }

    .addingImageExample p:nth-child(5) {
        font-size: 18px;
    }
}
