@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, li {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

.chapter6, .chapter7 {
    margin-top: 50px;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW03 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}


.thisMethodExample p:nth-child(2), .thisMethodExample p:nth-child(3), .thisMethodExample p:nth-child(4), .thisMethodExample p:nth-child(7) {
    padding-left: 5px;
}

.thisMethodExample p:nth-child(5), .thisMethodExample p:nth-child(6) {
    padding-left: 10px;
}

.jsonDefinition, .stringifyMethodExample, .mathObjectDefinition, .gettingElementsDefinition, .getElementsByTagNameMethodDefinition, .getElementsByClassNameMethodDefinition, .documentQuerySelectorMethodDefinition, .getterSetterMethodsDefinition, .setAttributeMethodDefinition, .createElementMethodDefinition, .createTextNodeMethodDefinition, .replacingRemovingElementsDefinition, .chapter7, .quizNinjaPt5, .quizNinjaPt6, .week3Exercises {
    margin: 50px 0 0 0;
}

.jsonDifferences {
    margin: 5px 0 16px 0;
    padding: 0;
}

.thisMethodExample, .jsonStringExample, .jsObjtToString, .gettingElementsDefinition, .getElementByIDMethodDefinition, .constListItems, .getElementsByClassNameMethodDefinition, .constHeroes, .documentQuerySelectorMethodDefinition, .querySelctrAll, .otherMethods, .constH1, .getterSetterMethodsDefinition, .getAttributeDefinition, .wonderWoman1, .hero, .setAttributeMethodDefinition, .wonderWoman2, .showUndefined, .wonderWoman3, .villain, .createElementMethodDefinition, .constFlash, .createTextNodeMethodDefinition, .constFlashText, .linkingListElementNode, .flashAppendChild, .resultGives, .replacingRemovingElementsDefinition, .returning, .inneHTMLPropertyExample > p, .removeEventListenerMethodExample > p, .getElementsByTagNameMethodDefinition, .clickDoSomething, li .constQuiz, li .symbol, .viewObjectQuizNinjaPt5 > p, .updatedFunctionsInGameObject > p, .gettingStartID, .utilityFunctionsInViewObject, .forConstQuestions, .constQuestion, .alertGameOver, .clickGameStart, .jsonStringify, .idAttributesofElements {
    font-size: 10px;
}

ul li:nth-child(1) {
    list-style-type: none;
}

ul li:nth-child(2) p:nth-child(4), ul li:nth-child(2) p:nth-child(5), ul li:nth-child(2) p:nth-child(6), ul li:nth-child(2) p:nth-child(11), ul li:nth-child(2) p:nth-child(21), ul li:nth-child(2) p:nth-child(22), ul li:nth-child(2) p:nth-child(26), ul li:nth-child(2) p:nth-child(27), ul li:nth-child(2) p:nth-child(29) {
    padding-left: 5px;
    font-size: 10px;
}

ul li:nth-child(2) p:nth-child(12), ul li:nth-child(2) p:nth-child(13), ul li:nth-child(2) p:nth-child(14), ul li:nth-child(2) p:nth-child(15), ul li:nth-child(2) p:nth-child(16), ul li:nth-child(2) p:nth-child(17), ul li:nth-child(2) p:nth-child(18), ul li:nth-child(2) p:nth-child(19), ul li:nth-child(2) p:nth-child(20), ul li:nth-child(2) p:nth-child(23), ul li:nth-child(2) p:nth-child(24), ul li:nth-child(2) p:nth-child(25), ul li:nth-child(2) p:nth-child(28) {
    padding-left: 15px;
}

table, th, td {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 19px;
    border:1px solid #655353;
    color: #655353;
}

.inneHTMLPropertyExample p:nth-child(3), .inneHTMLPropertyExample p:nth-child(4), .inneHTMLPropertyExample p:nth-child(5), .inneHTMLPropertyExample p:nth-child(6) {
    padding-left: 5px;
}

.quizNinjaPt5 p:nth-child(4), .quizNinjaPt5 p:nth-child(5), .quizNinjaPt5 p:nth-child(8), .quizNinjaPt5 p:nth-child(9), .quizNinjaPt5 p:nth-child(10), .quizNinjaPt5 p:nth-child(11), .quizNinjaPt5 p:nth-child(12) {
    padding-left: 5px;
}

.quizNinjaPt5 p:nth-child(6), .quizNinjaPt5 p:nth-child(7) {
    padding-left: 15px;
}

.viewObjectQuizNinjaPt5 p:nth-child(3), .viewObjectQuizNinjaPt5 p:nth-child(4), .viewObjectQuizNinjaPt5 p:nth-child(5), .viewObjectQuizNinjaPt5 p:nth-child(6), .viewObjectQuizNinjaPt5 p:nth-child(7), .viewObjectQuizNinjaPt5 p:nth-child(12) {
    padding-left: 5px;
}

.viewObjectQuizNinjaPt5 p:nth-child(8), .viewObjectQuizNinjaPt5 p:nth-child(10), .viewObjectQuizNinjaPt5 p:nth-child(11) {
    padding-left: 15px;
}

.viewObjectQuizNinjaPt5 p:nth-child(9) {
    padding-left: 16px;
}

.updatedFunctionsInGameObject p:nth-child(2), .updatedFunctionsInGameObject p:nth-child(3), .updatedFunctionsInGameObject p:nth-child(4), .updatedFunctionsInGameObject p:nth-child(5), .updatedFunctionsInGameObject p:nth-child(8), .updatedFunctionsInGameObject p:nth-child(9), .updatedFunctionsInGameObject p:nth-child(10), .updatedFunctionsInGameObject p:nth-child(11), .updatedFunctionsInGameObject p:nth-child(12), .updatedFunctionsInGameObject p:nth-child(13), .updatedFunctionsInGameObject p:nth-child(14), .updatedFunctionsInGameObject p:nth-child(15),.updatedFunctionsInGameObject p:nth-child(16), .updatedFunctionsInGameObject p:nth-child(17), .updatedFunctionsInGameObject p:nth-child(20) {
    padding-left: 5px;
}

.updatedFunctionsInGameObject p:nth-child(6), .updatedFunctionsInGameObject p:nth-child(7), .updatedFunctionsInGameObject p:nth-child(18) {
    padding-left: 0;
}

.removeEventListenerMethodExample p:nth-child(4), .removeEventListenerMethodExample p:nth-child(5), .removeEventListenerMethodExample p:nth-child(6) {
    padding-left: 5px;
}

.utilityFunctionsInViewObject p:nth-child(2), .utilityFunctionsInViewObject p:nth-child(5) {
    padding-left: 5px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
    .thisMethodExample, .jsonStringExample, .jsObjtToString, .gettingElementsDefinition, .getElementByIDMethodDefinition, .constListItems, .getElementsByClassNameMethodDefinition, .constHeroes, .documentQuerySelectorMethodDefinition, .querySelctrAll, .otherMethods, .constH1, .getterSetterMethodsDefinition, .getAttributeDefinition, .wonderWoman1, .hero, .setAttributeMethodDefinition, .wonderWoman2, .showUndefined, .wonderWoman3, .villain, .createElementMethodDefinition, .constFlash, .createTextNodeMethodDefinition, .constFlashText, .linkingListElementNode, .flashAppendChild, .resultGives, .replacingRemovingElementsDefinition, .returning, .inneHTMLPropertyExample > p, .removeEventListenerMethodExample > p, .getElementsByTagNameMethodDefinition, .clickDoSomething, li .constQuiz, li .symbol, .viewObjectQuizNinjaPt5 > p, .updatedFunctionsInGameObject > p, .gettingStartID, .utilityFunctionsInViewObject, .forConstQuestions, .constQuestion, .alertGameOver, .clickGameStart, .jsonStringify, .idAttributesofElements {
        font-size: 18px;
    }

    ul li:nth-child(2) p:nth-child(4), ul li:nth-child(2) p:nth-child(5), ul li:nth-child(2) p:nth-child(6), ul li:nth-child(2) p:nth-child(11), ul li:nth-child(2) p:nth-child(21), ul li:nth-child(2) p:nth-child(22), ul li:nth-child(2) p:nth-child(26), ul li:nth-child(2) p:nth-child(27), ul li:nth-child(2) p:nth-child(29) {
        padding-left: 5px;
        font-size: 18px;
    }
}