@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;500;600&family=Work+Sans&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #edae49;
    margin: 5px;
}

header {
    background-color: #00202f;
    border-radius: 3px 3px 0 0;
}

main {
    background-color: #edf2f4;
    padding: 10px;
}

a:link {
    color: #655353;
    transition-duration: 0.4s;
}

a:visited {
    color: #00202f;
}

a:hover {
    color: #00202f;
}

a:active {
    color: #edae49;
}

h1, h2, h3, h4, h5, h6, form, button {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

p, li, label, button {
    line-height: 1.5;
    color: #655353;
}

p, li, a {
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #edf2f4;
    margin: 0;
    padding: 10px;
}

h2 {
    font-weight: 500;
    font-size: 28px;
    color: #00202f;
    margin: 0;
    padding: 15px 0 0 0px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: #655353;
    margin: 5px 0 15px 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    color: #655353;
    margin: 15px 0 5px 0;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    background-color: #00202f;
    border-radius: 0 0 3px 3px;
}

.footerButtonContainerW10 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    padding: 10px;
}

footer div a:link {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #edf2f4;
    background-color: #655353;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

footer div a:visited {
    color: #edf2f4;
    background-color: #655353;
}

footer div a:hover {
    color: #655353;
    background-color: #edf2f4;
}

footer div a:active {
    color: #edae49;
    border: 2px solid #edae49;
}




img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.client-sideValidationTypes,
.built-inFormValidationDefinition,
.validElementDefinition,
.simpleFormExampleDefinition,
.addingRequiredAttribute,
.submittingFormWithoutValue,
.patternAttribute,
.constrainingLengthOfEntries,
.ConstValidAPIMethods,
.validatingFormsWithoutABuilt-inApi,
.fetchRequestExample,
.addingCredentialsIncluded,
.addingCredentialsSame-origin,
.headersDefinition,
.featureDetection {
    padding-top: 30px;
}

.simpleFormExample,
.simpleFormStylingExample,
.regexpsExamples,
.formWithPatternAttributeExample,
.formWithMinMaxLengthAndMinMaxAttributes,
.simpleFormExample2,
.validatingFormsUsingJavaScript,
.validatingFormsUsingJavaScript p:nth-child(1),
.validatingFormsWithoutABuilt-inApi,
.fetchRequestExample,
.fetchingMethodAcceptingInitObject,
.addingCredentialsSame-originCode,
.addingCredentialsOmitCode,
.uploadingJsonDataCode,
.uploadingJsonDataCode p:nth-child(1),
.uploadingFileCode,
.uploadingFileCode p:nth-child(2),
.uploadingFileCode p:nth-child(4),
.uploadingMultipleFilesCode p:nth-child(2),
.uploadingMultipleFilesCode p:nth-child(6),
.uploadingMultipleFilesCode,
.processingATextFileLineByLine,
.processingATextFileLineByLineCodePt1,
.processingATextFileLineByLineCodePt1 p:nth-child(5),
.checkingThatTheFetchWasSuccessful,
.supplyingYourOwnRequestObject,
.headersObjectExample,
.passingObjectLiteralToConstructor,
.queriedAndRetrievedContents,
.queriedAndRetrievedContents p:nth-child(4),
.queriedAndRetrievedContents p:nth-child(6),
.throwingTypeError,
.checkingifContentTypeIsCorrect,
.note,
.createdViaJavaScript,
.createdViaJavaScript p:nth-child(1),
.requestBodiesCode {
    padding-bottom: 30px;
} 

.simpleFormCode,
.simpleFormStylingExample p:nth-child(2),
.simpleFormStylingExample p:nth-child(5),
.simpleFormStylingExample p:nth-child(8),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(2),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(5),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(6),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(9),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(10),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(12),
.simpleFormCode2,
.validatingFormsUsingJavaScript p:nth-child(3),
.validatingFormsUsingJavaScript p:nth-child(6),
.validatingFormsUsingJavaScript p:nth-child(8),
.fetchRequestExample p:nth-child(3),
.fetchRequestExample p:nth-child(4),
.fetchingMethodAcceptingInitObject p:nth-child(3),
.fetchingMethodAcceptingInitObject p:nth-child(4),
.fetchingMethodAcceptingInitObject p:nth-child(16),
.fetchingMethodAcceptingInitObject p:nth-child(17),
.fetchingMethodAcceptingInitObject p:nth-child(20),
.fetchingMethodAcceptingInitObject p:nth-child(22),
.addingCredentialsIncludedCode p:nth-child(2),
.addingCredentialsSame-originCode p:nth-child(3),
.addingCredentialsOmitCode p:nth-child(2),
.uploadingJsonDataCode p:nth-child(3),
.uploadingJsonDataCode p:nth-child(4),
.uploadingJsonDataCode p:nth-child(6),
.uploadingJsonDataCode p:nth-child(7),
.uploadingJsonDataCode p:nth-child(11),
.uploadingJsonDataCode p:nth-child(14),
.uploadingFileCode p:nth-child(6),
.uploadingFileCode p:nth-child(7),
.uploadingFileCode p:nth-child(11),
.uploadingFileCode p:nth-child(14),
.uploadingMultipleFilesCode p:nth-child(5),
.uploadingMultipleFilesCode p:nth-child(8),
.uploadingMultipleFilesCode p:nth-child(9),
.uploadingMultipleFilesCode p:nth-child(13),
.uploadingMultipleFilesCode p:nth-child(16),
.processingATextFileLineByLineCodePt1,
.processingATextFileLineByLineCodePt2,
.processingATextFileLineByLineCodePt2 p:nth-child(2),
.processingATextFileLineByLineCodePt2 p:nth-child(3),
.processingATextFileLineByLineCodePt2 p:nth-child(12),
.processingATextFileLineByLineCodePt2 p:nth-child(13),
.processingATextFileLineByLineCodePt2 p:nth-child(14),
.processingATextFileLineByLineCodePt2 p:nth-child(17),
.processingATextFileLineByLineCodePt2 p:nth-child(18),
.processingATextFileLineByLineCodePt3 p:nth-child(2),
.processingATextFileLineByLineCodePt3 p:nth-child(4),
.checkingThatTheFetchWasSuccessful p:nth-child(2),
.checkingThatTheFetchWasSuccessful p:nth-child(7),
.checkingThatTheFetchWasSuccessful p:nth-child(8),
.checkingThatTheFetchWasSuccessful p:nth-child(10),
.checkingThatTheFetchWasSuccessful p:nth-child(11),
.checkingThatTheFetchWasSuccessful p:nth-child(13),
.supplyingYourOwnRequestObject div,
.passingObjectLiteralToConstructor p:nth-child(2),
.passingObjectLiteralToConstructor p:nth-child(3),
.passingObjectLiteralToConstructor p:nth-child(4),
.throwingTypeError p:nth-child(3),
.throwingTypeError p:nth-child(5),
.checkingifContentTypeIsCorrect p:nth-child(2),
.checkingifContentTypeIsCorrect p:nth-child(8),
.checkingifContentTypeIsCorrect p:nth-child(9),
.checkingifContentTypeIsCorrect p:nth-child(11),
.checkingifContentTypeIsCorrect p:nth-child(12),
.createdViaJavaScript p:nth-child(3),
.createdViaJavaScript p:nth-child(4),
.createdViaJavaScript p:nth-child(8),
.requestBodiesCode p:nth-child(3),
.requestBodiesCode p:nth-child(4),
.featureDetectionCode p:nth-child(2),
.featureDetectionCode p:nth-child(4) {
    padding-left: 5px;
}

.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(3),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(4),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(7),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(8),
.formWithMinMaxLengthAndMinMaxAttributes p:nth-child(11),
.validatingFormsUsingJavaScript p:nth-child(4),
.validatingFormsUsingJavaScript p:nth-child(5),
.validatingFormsUsingJavaScript p:nth-child(7),
.fetchingMethodAcceptingInitObject p:nth-child(5),
.fetchingMethodAcceptingInitObject p:nth-child(6),
.fetchingMethodAcceptingInitObject p:nth-child(7),
.fetchingMethodAcceptingInitObject p:nth-child(8),
.fetchingMethodAcceptingInitObject p:nth-child(9),
.fetchingMethodAcceptingInitObject p:nth-child(12),
.fetchingMethodAcceptingInitObject p:nth-child(13),
.fetchingMethodAcceptingInitObject p:nth-child(14),
.fetchingMethodAcceptingInitObject p:nth-child(15),
.fetchingMethodAcceptingInitObject p:nth-child(21),
.uploadingJsonDataCode p:nth-child(5),
.processingATextFileLineByLineCodePt2 p:nth-child(4),
.processingATextFileLineByLineCodePt2 p:nth-child(6),
.processingATextFileLineByLineCodePt2 p:nth-child(7),
.processingATextFileLineByLineCodePt2 p:nth-child(8),
.processingATextFileLineByLineCodePt2 p:nth-child(9),
.processingATextFileLineByLineCodePt2 p:nth-child(10),
.processingATextFileLineByLineCodePt2 p:nth-child(11),
.processingATextFileLineByLineCodePt3 p:nth-child(3),
.checkingThatTheFetchWasSuccessful p:nth-child(3),
.checkingThatTheFetchWasSuccessful p:nth-child(5),
.checkingThatTheFetchWasSuccessful p:nth-child(6),
.checkingThatTheFetchWasSuccessful p:nth-child(9),
.checkingThatTheFetchWasSuccessful p:nth-child(12),
.supplyingYourOwnRequestObjectCodeLastPt p:nth-child(3),
.checkingifContentTypeIsCorrect p:nth-child(3),
.checkingifContentTypeIsCorrect p:nth-child(4),
.checkingifContentTypeIsCorrect p:nth-child(6),
.checkingifContentTypeIsCorrect p:nth-child(7),
.checkingifContentTypeIsCorrect p:nth-child(10),
.createdViaJavaScript p:nth-child(5),
.createdViaJavaScript p:nth-child(7) {
    padding-left: 15px;
}

.fetchingMethodAcceptingInitObject p:nth-child(10),
.fetchingMethodAcceptingInitObject p:nth-child(11),
.processingATextFileLineByLineCodePt2 p:nth-child(5),
.checkingThatTheFetchWasSuccessful p:nth-child(4),
.checkingifContentTypeIsCorrect p:nth-child(5),
.createdViaJavaScript p:nth-child(6) {
    padding-left: 30px;
}

.mdnArticleUsingFetch {
    padding-top: 50px;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

main > div > p, .checkReportSetCustomValidity > li, .simpleFormCode > p, .simpleFormCode2 > p, .processingATextFileLineByLineCodePt1 > p, .processingATextFileLineByLineCodePt2 > p, .processingATextFileLineByLineCodePt3 > p, .getMyHeadersCorsDefault > p, .supplyingYourOwnRequestObjectCodeLastPt > p {
    font-size: 10px;
}

.uploadingFileCode p:nth-child(2) {
    font-size: 9px;
}

/* This is the CSS styling for the tablet and desktop versions */
@media only screen and (min-width: 768px) {
    main > div > p, .checkReportSetCustomValidity > li, .simpleFormCode > p, .simpleFormCode2 > p, .processingATextFileLineByLineCodePt1 > p, .processingATextFileLineByLineCodePt2 > p, .processingATextFileLineByLineCodePt3 > p, .getMyHeadersCorsDefault > p, .supplyingYourOwnRequestObjectCodeLastPt > p {
        font-size: 18px;
    }
    
    .uploadingFileCode p:nth-child(2) {
        font-size: 8px;
    }
}
  
  